
/* Hamburger Menu Styles */
.menu-container {
    position: relative;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger-menu .bar {
    height: 5px;
    background-color: #fff;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.3s;
}

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

.menu.show {
    display: block;
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s;
}

.menu a:hover {
    color: #f39c12; /* Change to your preferred hover color */
}

/* Animation for Hamburger Menu */
.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
}